/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF; /* White background */
    color: #333; /* Default text color */
}

header {
    background-color: #FFFFFF; /* White background */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.nav-content {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust as needed */
    margin-right: 10px; /* Space between logo and title */
}

.site-title {
    font-size: 1.5rem;
    color: #000; /* Black color for site title */
}

main {
    padding: 20px;
    text-align: center;
    max-width: 1200px; /* Added to keep content width */
    margin: 0 auto; /* Center content */
}

.banner {
    margin: 20px 0;
}

.banner img {
    width: 100%;
    max-width: 900px; /* Adjust banner width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    margin: 0 auto;
}

.google-form {
    margin: 20px 0;
}

.google-form a {
    color: #000; /* Black color for link */
    text-decoration: none;
    font-weight: bold;
}

.google-form a:hover {
    color: #FF0000; /* Red color on hover */
    text-decoration: underline;
}

.social-media {
    margin: 40px 0;
}

.social-media h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000; /* Black color for heading */
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px; /* Icon size */
    height: 40px; /* Icon size */
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

footer {
    background-color: #FFFFFF; /* White footer */
    color: #000; /* Black text color for contrast */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
}
