/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF; /* White background */
    color: #333; /* Default text color */
}

header {
    background-color: #F6FF00; /* Yellow header */
    padding: 20px 0;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo img {
    height: 50px; /* Adjust as needed */
    margin-left: 20px;
    animation: logo-animation 2s infinite;
}

@keyframes logo-animation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

main {
    padding: 20px;
    text-align: center;
}

.banner {
    margin: 20px 0;
}

.banner img {
    width: 100%;
    max-width: 1920px;
    height: 533px;
    object-fit: cover;
}

.google-form {
    margin: 20px 0;
}

.google-form a {
    color: #000; /* Black color for link */
    text-decoration: none;
    font-weight: bold;
}

.google-form a:hover {
    color: #FF0000; /* Red color on hover */
    text-decoration: underline;
}

.social-media {
    margin: 40px 0;
}

.social-media h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000; /* Black color for heading */
}

.social-media a {
    margin: 0 15px;
    text-decoration: none;
    color: #000; /* Black color for links */
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #FF0000; /* Red color on hover */
}

footer {
    background-color: #F6FF00; /* Yellow footer */
    color: #000; /* Black text color for contrast */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
